@using Supermarket.ViewModel
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Quản lý phiếu nhập</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
          <li class="breadcrumb-item active">Thay đổi Mật khẩu</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form asp-controller="Account" asp-action="ChangePassword" id="ChangePassForm" class="form-horizontal" method="POST" onsubmit="return checkPassword()">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thay đổi Mật khẩu</h3>
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row form-group">
                                <label asp-for="OldPassword">Mật khẩu cũ</label>
                                <input asp-for="OldPassword" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="OldPassword"></span>
                            </div>
                            <div class="row form-group">
                                <label asp-for="NewPassword">Mật khẩu mới</label>
                                <input asp-for="NewPassword" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="row form-group">
                                <label asp-for="ConfirmNewPassword">Xác nhận lại mật khẩu</label>
                                <input asp-for="ConfirmNewPassword" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                            <button class="btn btn-success" type="submit" id="saveOrder">
                                Cập nhật
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </form>
    </div>
</section>

<script>
    function checkPassword(){
        var oldPass = $('OldPassword').val();
        var newPass = $('NewPassword').val();
        var cfmPass = $('ConfirmNewPassword').val();

        if(newPass == oldPass){
            alert('Mật khẩu mới phải khác mật khẩu cũ !');
            return false;
        }

        if(newPass == cfmPass){
            alert('Xác minh mật khẩu bị sai !');
            return false;
        }

        return true;
    }
</script>