@using Application.DTOs;
@model IEnumerable<ImportingOrderDto>

@{ 
  ViewData["Title"] = "Index";
  ViewBag.Current = "ImportingOrder";
}

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

@section Scripts{
  
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}