@using Application.DTOs
@model BrandDto
@{
    Layout = null;
    ViewData["Title"] = "Edit";
}

<form id="BrandForm" asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
  <div class="modal-body">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>
    <div class="row form-group">
      <div class="col-8">
        <label asp-for="Name">Tên thương hiệu</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Tên Thương Hiệu" />
        <span class="text-danger" asp-validation-for="Name"></span>
      </div>
      <div class="col-4">
        <label asp-for="Phone">Số liên lạc</label>
        <input asp-for="Phone" type="text" class="form-control" placeholder="Số liên lạc" />
        <span class="text-danger" asp-validation-for="Phone"></span>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12">
        <label asp-for="Address">Địa chỉ</label>
        <input asp-for="Address" type="text" class="form-control" placeholder="Địa chỉ" />
        <span class="text-danger" asp-validation-for="Address"></span>
      </div>
    </div>
  
   
    
    <div class="modal-footer pb-0 pl-0 pr-0 justify-content-between">
      <button data-dismiss="modal" type="button" class="btn btn-default">
        <i class="fas fa-times mr-1"></i>
        Đóng
      </button>
      <button type="submit" value="Submit" class="btn btn-primary">
        <i class="far fa-save mr-1"></i>
        Lưu
      </button>
    </div>
  </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}